*
body {
  background-image:url("images/skyline.jpg");
  background-position:100%;
}

.navbar-inner {
  color: white;
  float: none;
  display: inline-block;
  zoom:1;
  vertical-align:center;
}

.box {
  border:thin solid black;
  color:white;
  text-shadow: 4px 4px 10px rgba(0,0,0,.5);
  margin-top:20vh;
}

.container {
  width:600px;
}
