.logo {
  img {
    max-height:100px;
    max-width:160px;
  }
}

.container-admin {
  background-color:white;
  padding:20px;
  border-radius:4px;
  color:black;
  font-family:'Helvetica', sans-serif;
}
