//HERE IT IS
.wrapper {
    margin: -8px;
    padding: 0;
    height: 100%;
    height: 778px;
}
body {
    height: 100%;
    width: 100%;
    display: block;
}
.left {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 778px;
}
.whiteBox {
    background-color: white;
}
.logo {
}
.slogan {
}
.views {
}
.gridView, .mapView {
    width: 49%;
    display: inline-block;
}
.gridView {
}
.mapView {
}
.blackBox {
    background-color: grey;
}
.filters {
}
.software {
    display: block;
}
.hiring {
    display: block;
}
.about {
    display: block;
}
.footer {
}
.right {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    background-color: blue;
    width: 80%;
}
.container {
    padding: 20px 20px 0 0;
    max-height: 778px;
    overflow: scroll;
}
.box {
    background-color: white;
    border-radius: 8px;
    width: 260px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    display: inline-block;
}
.boxTop {
    margin: 0;
    padding: 5px;
    height: 106px;
}
.boxLogo {
    margin: 0;
    padding: 0;
    display: inline-block;

}
.boxHiring {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;

}
.boxBottom {
    margin: 0;
    padding: 0;
    background-color: yellow;
    width: 100%;
    height: 34px;
    border-radius: 0 0px 8px 8px;
}
.companyName {
    display: inline-block;
    float: left;
}
.more {
    display: inline-block;
    float: right;
}
